<%= semantic_form_for(resource) do |form| %>
  <%= form.inputs do %>
    <%= form.input :name, :label => "Data Set Name" %>
		<%= form.input :organization, :as => :select, :collection => Organization.find(:all) %>
		<%= form.input :categories, :as => :check_boxes, :collection => Category.find(:all) %>
		
    <%= form.input :description %>
    <%= form.input :data_format %>
    <%= form.input :cost %>
		<label>Start Date</label>
    <%= form.input :period_start_date, :as => "date", :start_year => 1980, :end_year => Time.now.year %>
    <label>End Date</label>
		<%= form.input :period_end_date, :as => "date", :start_year => 1980, :end_year => Time.now.year %>
    <%= form.input :update_frequency %>
    <%= form.input :documentation_url, :as => :string  %>
    <%= form.input :tag_list %>


		<div class="form_admin_only">
			<h3>Admin Only</h3>
			<%= form.input :notes %>
			<%= form.input :status, :as => :select, :collection => ["unpublished", "published", "archived"] %>
		</div>

  <% end %>

  <%= form.buttons %> or <%= link_to 'cancel', resource %> | <%= link_to 'Delete data set', @data_set, :confirm => 'Are you sure?', :method => :delete %>
<% end %>