<h3>Comments</h3>



<% unless @data_set.comments.blank? %>
	<div id="comments">
	<% @data_set.comments.each do |comment|%>
		<div class="comment">
			<div class="comment_user"><%= comment.user ? comment.user.full_name : "Anonymous"%> said</div>
			<div class="comment_text"><%= comment.comment %></div>
		</div>
	<% end%>
	</div>
	
<% else %>
	<p>There are no comments for this data set.</p>
<% end %>
<% if user_signed_in? %>
	<p>Leave a comment below.</p>
	<%- form_for [@data_set, @comment] do |f|-%>
	  <p><%= f.text_area :comment -%></p>
	  <p><%= f.submit -%></p>
	<%- end -%>


<% else%>
<p>Please <%= link_to "signup or login", new_session_path(User)%> before commenting on this data set.</p>
<% end %>
