<% content_for :sidebar do %>

	<div id="sidebar">
		<div id="sidebar_content">
		
			<div class="sidebar_section_unbound" class="clearfix">
			  <%= render :partial => "/shared/add_data_set_actions" %>
			</div>

		
			<div class="sidebar_section" class="clearfix">
				<%= render :partial => "/shared/categories_list" %>
			</div>
			<div class="sidebar_section" class="clearfix">
				<ul>
					<li><%= link_to "Subscribe to Data Sets RSS", data_sets_url(:format => :rss), :class => "rss"%></li>
				</ul>
			</div>
		</div>
	</div>
<% end %>

<% title 'Browse Data Sets' %>


<% unless @data_sets.blank? %>
	<div id="data_list" class="data_list">
		<%= render @data_sets %>
	</div>
  	<%= will_paginate(@data_sets) %>
<% else %>
	<p>We were not able to find any data sets for you.</p>
<% end %>
