<% content_for :sidebar do %>

	<div id="sidebar">
		<div id="sidebar_content">
			<% if user_signed_in? %>
			
				<p class="clearfix"><%= link_to image_tag("/images/buttons/sunshine_this.png"), sunshine_path(@data_set)%></p>
			
				<% if  current_user.admin? %>
					<p class="clearfix"><%= link_to 'Edit this data set', edit_data_set_path(@data_set), :class => 'button' %></p>
				<% end %>

			<% else %>
				<div id="loginbox" style="display:none; width: 500px;height: 300px;">
					<h2>Please login first</h2>
					<p>In order to customize the Sunshine This letter, we need to you to <%= link_to "sign up", new_user_registration_path %> or <%= link_to "login", new_user_session_path %> to OpenMissouri.</p>		
				</div>
				<p style="margin-bottom: 15px; display: block;" class="clearfix"><a href="#loginbox" rel="facebox"><%= image_tag("/images/buttons/sunshine_this.png")%></a></p>
			<% end %>

			<div class="sidebar_section" class="clearfix">
	
				<h3>Share this Data Set</h3>
				
				<div class="social_menu">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					<a class="addthis_button_preferred_1"></a>
					<a class="addthis_button_preferred_2"></a>
					<a class="addthis_button_preferred_4"></a>
					<a class="addthis_button_compact"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d6829810b0f411f"></script>
					<!-- AddThis Button END -->
				</div>
			</div>
		</div>
	</div>

<% end %>
	
	<% title @data_set.name %>
	<div class="page_subtitle"><%= link_to @data_set.organization.name, @data_set.organization %></div>
	<% unless @data_set.website.blank? %>
	<p><b>Website:</b><%= link_to @data_set.website, format_url(@data_set.website) %></p>
	<% end %>
	<% if @data_set.categories %>
	<p>
	  <b>Category:</b>
	  <%= @data_set.categories.collect{|category| category.name}.join(", ") %>
	</p>
	<% end %>

	<div class="summary_box">
		<table cellspacing="0" cellpadding="0" border="0" class="summary_table">
			<tr>
				<td>
					<% unless @data_set.data_format.blank? %>
					
					<p>
					  <b>Data format:</b>
					  <%= @data_set.data_format %>
					</p>
					<% end %>
					
					<% if @data_set.period_start_date %>
					<p>
					  <b>Cost:</b>
					  <%= @data_set.cost %>
					</p>
					<% end %>
					
					<% unless @data_set.update_frequency.blank? %>
					<p>
					  <b>Update frequency:</b>
					  <%= @data_set.update_frequency %>
					</p>
					<% end%>

				</td>
				<td>
					<% if @data_set.period_start_date %>
					<p>
					  <b>Period start date:</b>
					  <%= format_date(@data_set.period_start_date) %>
					</p>
					<% end %>
					
					<% if @data_set.period_end_date %>
					<p>
					  <b>Period end date:</b>
					  <%= format_date(@data_set.period_end_date) %>
					</p>
					<% end%>
					
					<% if @data_set.samplefile? %>
					<p>
					  <b>Download a sample data file:</b>
					  <%= link_to "Download sample data", @data_set.samplefile.url, {:class => "small orange awesome"} %>
					</p>
					<% end%>
					
					

				</td>
			</tr>
		</table>
		
		</div>
		<div class="description"><%= @data_set.description %></div>
		
		<div id="comments">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'openmissouri'; // required: replace example with your forum shortname

			    // The following are highly recommended additional parameters. Remove the slashes in front to use.
			    // var disqus_identifier = 'unique_dynamic_id_1234';
			    // var disqus_url = 'http://example.com/permalink-to-page.html';

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

	</div>

<script>
	jQuery(document).ready(function($) {
	  $('a[rel*=facebox]').facebox()
	})
</script>
