<p id="notice"><%= notice %></p>
<div id="sidebar">
	
	<% if user_signed_in? and current_user.admin? %>
	<p style="margin-bottom: 15px; display: block;"><a href="#sunshinebox" rel="facebox" class="button">Sunshine This</a></p>
	<div id="sunshinebox" style="display:none; width: 500px">
  	<%= current_user.full_name %>
		<br /><%= address_block(current_user.street1, current_user.street2, current_user.city, current_user.state, current_user.postal_code)%>

		<br /><br /><%= Time.now.to_date %>

		<br /><br /><%= @data_set.organization.sunshine_contact %>
		<% unless @data_set.organization.sunshine_title.blank? %>
			<br /><%= @data_set.organization.sunshine_title %>
		<% end %>
		<% unless @data_set.organization.governement_entity_name.blank? %>
			<br /><%= @data_set.organization.governement_entity_name %>
		<% end %>
		<% unless @data_set.organization.name.blank? %>
			<br /><%= @data_set.organization.name %>
		<% end %>
		<br /><%= address_block(@data_set.organization.address1, @data_set.organization.address2, @data_set.organization.city, @data_set.organization.state, @data_set.organization.postal_code)%>
		
	

		<br /><p>Dear <%= @data_set.organization.sunshine_contact ? @data_set.organization.sunshine_contact : "[contact name]" %>:</p>

		<p>Under the Missouri Sunshine Law (RsMO Chapter 610), I request in electronic form a copy of your agency's <%= @data_set.name%> database. {SPECIFY THE TIME PERIOD THAT YOUR DATA COVERS}</p>
		
		<p>I understand that the data is stored in <%= @data_set.data_format %> format. Please provide the data to me in that format {OR IN ANOTHER FORMAT SPECIFICED BY YOU, SUCH AS DELIMITED TEXT, OR MICROSOFT EXCEL}. In addition, I request copies of any documentation that I'll need to understand the data.</p>

		<p>Please contact me if you have any questions about my request. I will be happy to work with you to fill this request quickly. Feel free to contact me at my phone number, which is listed at the head of this letter.</p>

		<p>You can email the files to me at [user email address] or mail them to my address above.</p>

		<p>If you deny any or all of this request, you are required to do so in writing and cite your specific legal authority.</p>

		<p>OPTIONAL FEE LIMIT/WAIVER LANGUAGE:
		<br />>I am willing to pay fees up to (insert amount here) to fill this request. Please contact me if the fees will exceed this amount.</p>

		<p>I request a fee waiver. The release of this data is in the public interest because it is likely to contribute significantly to public understanding of the operations or activities of the public governmental body and is not primarily for my own commercial interest.</p>

		<p>I look forward to your response within three working days, as required by the Sunshine Law.</p>

		<p>Sincerely,</p>


		<p><%= current_user.full_name %></p>



	</div>
	<p class="clearfix"><%= link_to 'Edit this data set', edit_data_set_path(@data_set), :class => 'button' %></p>
	<% end %>
	<div class="sidebar_section_unbound" class="clearfix">
	
		<h3>Share this Data Set</h3>
		

		
		<div class="social_menu">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d6829810b0f411f"></script>
			<!-- AddThis Button END -->
		</div>
	</div>
</div>


<div id="content" class="clearfix">
	
	<% title @data_set.name %>
	<div class="page_subtitle"><%= link_to @data_set.organization.name, @data_set.organization %></div>
	<% unless @data_set.website.blank? %>
	<p><b>Website:</b><%= link_to @data_set.website, format_url(@data_set.website) %></p>
	<% end %>
	<% if @data_set.categories %>
	<p>
	  <b>Category:</b>
	  <%= @data_set.categories.collect{|category| category.name}.join(", ") %>
	</p>
	<% end %>

	<div class="summary_box">
		<table cellspacing="0" cellpadding="0" border="0" class="summary_table">
			<tr>
				<td>
					<% unless @data_set.data_format.blank? %>
					
					<p>
					  <b>Data format:</b>
					  <%= @data_set.data_format %>
					</p>
					<% end %>
					
					<% if @data_set.period_start_date %>
					<p>
					  <b>Cost:</b>
					  <%= @data_set.cost %>
					</p>
					<% end %>
					
					<% unless @data_set.update_frequency.blank? %>
					<p>
					  <b>Update frequency:</b>
					  <%= @data_set.update_frequency %>
					</p>
					<% end%>

				</td>
				<td>
					<% if @data_set.period_start_date %>
					<p>
					  <b>Period start date:</b>
					  <%= format_date(@data_set.period_start_date) %>
					</p>
					<% end %>
					
					<% if @data_set.period_end_date %>
					<p>
					  <b>Period end date:</b>
					  <%= format_date(@data_set.period_end_date) %>
					</p>
					<% end%>
					
					

				</td>
			</tr>
		</table>
		
		</div>
		<div class="description"><%= @data_set.description %></div>
		
		<div id="comments">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'openmissouri'; // required: replace example with your forum shortname

			    // The following are highly recommended additional parameters. Remove the slashes in front to use.
			    // var disqus_identifier = 'unique_dynamic_id_1234';
			    // var disqus_url = 'http://example.com/permalink-to-page.html';

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
			
			
			
			
			
			
			
			
			
			
			
			
		</div>
	</div>

<div>
<script>
	jQuery(document).ready(function($) {
	  $('a[rel*=facebox]').facebox()
	})
</script>