<p id="notice"><%= notice %></p>
<div id="sidebar">
	<% if user_signed_in? and current_user.admin? %>
	<p class="clearfix"><%= link_to 'Edit this data set', edit_data_set_path(@data_set), :class => 'button' %></p>
	<% end %>
	<div class="sidebar_section_unbound" class="clearfix">
	
		<h3>Share this Data Set</h3>
		<div class="social_menu">
			<ul>
				<li class="twitter"><%= link_to "Tweet this", ""%></li>
				<li class="facebook"><%= link_to "Share on Facebook", ""%></li>
				<li class="email"><%= link_to "Email a Friend", ""%></li>
			</ul>
		</div>
	</div>
</div>

<div id="content" class="clearfix">
	
	<% title @data_set.name %>
	<div class="page_subtitle"><%= link_to @data_set.organization.name, @data_set.organization %></div>
	<% unless @data_set.website.blank? %>
	<p><b>Website:</b><%= link_to @data_set.website, format_url(@data_set.website) %></p>
	<% end %>
	<% if @data_set.categories %>
	<p>
	  <b>Category:</b>
	  <%= @data_set.categories.collect{|category| category.name}.join(", ") %>
	</p>
	<% end %>

	<div class="summary_box">
		<table cellspacing="0" cellpadding="0" border="0" class="summary_table">
			<tr>
				<td>
					<% unless @data_set.data_format.blank? %>
					
					<p>
					  <b>Data format:</b>
					  <%= @data_set.data_format %>
					</p>
					<% end %>
					
					<% if @data_set.period_start_date %>
					<p>
					  <b>Cost:</b>
					  <%= @data_set.cost %>
					</p>
					<% end %>
					
					<% unless @data_set.update_frequency.blank? %>
					<p>
					  <b>Update frequency:</b>
					  <%= @data_set.update_frequency %>
					</p>
					<% end%>

				</td>
				<td>
					<% if @data_set.period_start_date %>
					<p>
					  <b>Period start date:</b>
					  <%= format_date(@data_set.period_start_date) %>
					</p>
					<% end %>
					
					<% if @data_set.period_end_date %>
					<p>
					  <b>Period end date:</b>
					  <%= format_date(@data_set.period_end_date) %>
					</p>
					<% end%>
					
					

				</td>
			</tr>
		</table>
		
		</div>
		<div class="description"><%= @data_set.description %></div>
		
		<div id="comments">
			<h3>Comments</h3>
			
			
			
			<% unless @data_set.comments.blank? %>
				<div id="comments">
				<% @data_set.comments.each do |comment|%>
					<div class="comment">
						<div class="comment_user"><%= comment.user ? comment.user.full_name : "Anonymous"%> said</div>
						<div class="comment_text"><%= comment.comment %></div>
					</div>
				<% end%>
				</div>
				
			<% else %>
				<p>There are no comments for this data set.</p>
			<% end %>
			<% if user_signed_in? %>
				<p>Leave a comment below.</p>
				<%- form_for [@data_set, @comment] do |f|-%>
				  <p><%= f.text_area :comment -%></p>
				  <p><%= f.submit -%></p>
				<%- end -%>
				
			
			<% else%>
			<p>Please <%= link_to "signup or login", new_session_path(User)%> before commenting on this data set.</p>
			<% end %>
			
		</div>
	</div>

<div>

