<div id="sidebar">
		<div id="sidebar_content">
			
			<div class="sidebar_section_unbound" class="clearfix">
			  <p class="clearfix">
				<% if user_signed_in? and current_user.admin? %>
			  	<%= link_to 'Add a Data Set', new_data_set_path, :class => 'button' %>

				<% else %>
					<%= link_to 'Suggest a Data Set', suggest_path, :class => 'button' %>

				<% end %>
				</p>
			</div>
			<h3>OpenMissouri News</h3>
			<p>News posts will go here.</p>
			<div class="sidebar_section" class="clearfix">

				<h3>Browse Categories</h3>
				<ul>
					<% @categories.each do |category|%>
						<li><%= link_to category.name, category %></li>
					<% end %>
				</ul>
			</div>

			<%= render :partial => "dashboard/email_subscription_form"%>
		</div>
	</div>

	<div id="content" class="clearfix">
		<div class="tagline">Connecting you to Missouri's state and local government data.</div>
		
		<script src="/javascripts/swfobject.js" type="text/javascript"></script>
		<div id="flashcontent"></div>
		&#160;
		<script type="text/javascript">var so = new SWFObject("/soundslider.swf", "Open Missouri", "620", "373", "8", "#000000");
		   so.write("flashcontent");</script>
		
		
		
		<div class="home_description" style="display: none">
			
			<p class="home_mission">Connecting you to state and local government data.</p>
		<!--<p class="home_mission">Open Missouri is a project of the <%= link_to "Donald W. Reynolds Journalism Institute", "http://www.rjionline.org/ " %> at the <%= link_to "Missouri School of Journalism", "http://journalism.missouri.edu" %> in Columbia that aims to make state and local government information more available to journalists and citizens.</p>-->
		
		
		<p style="display: none"><strong>Open Missouri's goals are to:</strong>
			<ul>
				<li>Inform Missourians about public data held by government agencies.</li>
				<li>Inspire journalists, citizens, web developers, entrepreneurs, businesses and non-profits to access and use public data in ways that better their professional, civic and personal lives.</li>
				<li>Serve as a platform that connects people who are using data from state and local government agencies.</li>
				<li>Educate interested parties about how they can access and use public data.</li>
		</ul>
		</p>

		<p>RJI is funded by the <%= link_to "Donald W. Reynolds Foundation", "http://www.dwreynolds.org/" %>.</p>
		</div>

		<h3>Recent Data Sets</h3>
		<% unless @data_sets.blank? %>
			<div id="data_sets" class="data_list">
				<% @data_sets.each do |data_set| %>

				<div class="data_item">
					<h3><%= link_to data_set.name, data_set_path(data_set) %></h3>
					<div class="organization"><% unless data_set.organization.blank? %><%= link_to data_set.organization.name, organization_path(data_set.organization) %><% end %></div>
					<div class="categories"><%= data_set.categories.collect{|category| category.name}.join(", ") %></div>
				</div>

				<% end %>
			
			</div>
		<% else %>
			<p>We were not able to find any data sets for you.</p>
		<% end %>
	
	<div>



		


