<h1>The Open Missouri Team</h1>

<div id="sidebar">	
		<%= render :partial => "about_sidebar"%>
</div>

<div id="content" class="clearfix">

	<div class="description">
	
		<h3>Founder</h3>

		<p><strong><%= link_to "David Herzog", "http://www.rjionline.org/fellows-program/herzog/index.php" %></strong> is leading the development of Open Missouri as a 2010-2011 fellow at the <%= link_to "Donald W. Reynolds Journalism Institute", "http://www.rjionline.org/fellows-program/herzog/index.php" %>. He is an associate professor at the <%= link_to "Missouri School of Journalism", "http://journalism.missouri.edu/" %> and serves as the academic adviser to the <%= link_to "National Institute for Computer-Assisted Reporting", "http://data.nicar.org/"%>.</p>

		<p>Herzog edits <a href="http://data.nicar.org/uplink">Uplink</a>, NICAR's online CAR newsletter, and wrote <a href="http://www.amazon.com/Mapping-News-Case-Studies-Journalism/dp/1589480724">"Mapping the News: Case Studies in GIS and Journalism"</a>, published by ESRI Press. He is a native of Bethlehem, Pa., and graduated from Temple University in Philadelphia with a bachelor's degree in radio-television-film.</p>

		<p>Before joining the faculty of the Journalism School in 2002, Herzog spent nearly 15 years as a newspaper reporter or editor, specializing in investigations. His most recent newsroom post was as an investigative reporter for The Providence Journal in Rhode Island.</p>

		<h3>Web developer</h3>

		<p><strong>Jamie Stephens</strong></p>
		<p>Jamie has been designing and developing simple, usable software for the Web for over 10 years. He formerly directed the software division at LANIT Consulting and helped start the Center for eResearch at the University of Missouri-Columbia. At LANIT, Jamie led the team that designed and developed Foliotek and helped guide it to become one of the leading portfolio assessment tool among colleges and universities in the country. In 2007, Jamie founded Blueroot Studios, a small consulting company focused on developing cool and enjoyable software (which most clients prefer over boring and tedious software). Blueroot Studios has designed, developed, and deployed solutions for Miller's Professional Imaging, Reynolds Journalism Institute, and others. In 2009 Jamie launched Book'd, an online scheduling system that allows small businesses to accept and manage appointments with their customers.  </p>

		<h3>Reporters</h3>

		<p><strong>Dan Claxton</strong> is originally from Springfield, Mo., and returned to the University of Missouri to pursue a master's degree in journalism. He graduated with a bachelor's degree in communications and spent the following 25 or so years in the radio industry, working in several capacities, most notably in news.</p>

		<p>He was news director at six Missouri radio stations, most recently at KFRU-Columbia and taught newswriting at the Missouri School of Journalism for several semesters as an adjunct instructor. Claxton's academic interests include journalism and the law, particularly the rights and responsibilities of journalists. He also enjoys American literature, history and the study of old roads.</p>

		<p><strong>Jeremy Essig</strong> is a second-year master's student at the Missouri School of Journalism, studying print journalism. Earlier, Essig worked as a reporter and editor for <%= link_to "Missouri Digital News", "http://www.mdn.org/" %>, a wire service in Jefferson City that serves the Columbia Missourian and KMOX radio as well as other smaller papers throughout the state.</p>

		<p>In addition, Essig has worked as a reporter for the Columbia Business Times and as a data analyst for the National Institute of Computer-Assisted Reporting. He holds a bachelor's degree in psychology from Wake Forest University and currently resides in St. Louis.</p>

		
		<p><strong>Caitlin Giddings</strong> is a second-year master's student at the Missouri School of Journalism. Originally from Prairie Village, Kan., she graduated from the University of Kansas with a bachelor's degree in Speech, Language and Hearing.</p>

		<p>Giddings spent the last eight years working in the bicycle industry as a bike messenger in Portland, Ore., and a cross-country bike tour leader with the Adventure Cycling Association. Her non-bicycle interests include blogging, podcasting, magazine writing, literary nonfiction and marathon running.</p>

		<p><strong>Stevie Mathieu</strong> is studying convergence journalism as a master's student at the Missouri School of Journalism. Before coming to Missouri, she worked for two years as a daily newspaper reporter in southwest Washington state, where she covered education, the environment, courts and the 2008 state legislative session. After that, she worked for one year as contributing editor to a small newspaper near Seattle.</p>

		<p>In the summer of 2010, Mathieu reported about aviation safety as a national <%= link_to "News21", "	http://news21.com/" %> fellow, and her <%= link_to "stories", "http://www.msnbc.msn.com/id/39383369/ns/travel/" %> were published on msnbc.com. She currently works as a graduate assistant for Investigative Reporters and Editors in the NICAR database library. She was born and raised in Washington and earned her bachelor's degree in 2006 from Pacific Lutheran University in Tacoma.</p>

	
		
	
	</div>

<div>



	


