<p id="notice"><%= notice %></p>
<div id="sidebar" class="clearfix">
	<%= render "/admin/sidebar"%>
</div>

<div id="content" class="clearfix">

<% title 'Users' %>

<% unless @users.blank? %>
  <%= table_for(@users) %>
  <%= will_paginate(@users) %>
<% else %>
  <p>Now it's time to create some data here. To create new entry, please use the button below.</p>
  <br /><br />
<% end %>

<br />

<p>
  <%= link_to 'User', new_user_path, :class => 'button' %>
</p>

</div>