<p id="notice"><%= notice %></p>
<div id="sidebar">
	<div id="sidebar_content" class="clearfix">		
		<p>
			<% if user_signed_in? and current_user.admin? %>
		  	<%= link_to 'Add an Agency', new_organization_path, :class => 'button' %>
			<% else %>
			<%= link_to 'Suggest a Data Set', suggest_path, :class => 'button' %>
		
			<% end %>
			
		</p>
	</div>
</div>

<div id="content" class="clearfix">
	

<% title 'Agencies' %>

<% unless @organizations.blank? %>
	<div id="data_list">
	<% @organizations.each do |organization| %>
		<div class="data_item">
			<h3><%= link_to organization.name, organization_path(organization) %></h3>
			<p><%= organization.published_data_sets.size %> data sets</p>
			<p><% unless organization.description.blank?  %>
	      <%= first_x_words(strip_tags(organization.description),30,'...') %>
	    	<% end %> </p>
			
		</div>
	<% end %>
	</div>

  <%= will_paginate(@organizations) %>
<% else %>
  <br /><br />
<% end %>

<br />



</div>