<% content_for :sidebar do %>
	<div id="sidebar">
		<div id="sidebar_content">
			<div class="sidebar_section_unbound" class="clearfix">
				<% if user_signed_in? and current_user.admin? %>
			  	<%= link_to 'Add an Agency', new_organization_path, :class => 'button' %>
				<% else %>
					<%= render :partial => "/shared/add_data_set_actions" %>
				<% end %>
			</div>			
		</div>
	</div>
<% end %>

<% title 'Agencies' %>

<% unless @organizations.blank? %>
	<div id="data_set" class="data_list">
	<% @organizations.each do |organization| %>
		<div class="data_item">
			<h3><%= link_to organization.name, organization_path(organization) %></h3>
			<div class="set_summary"><%= organization.published_data_sets.size %> data sets</div>
			<div class="snippet"><% unless organization.description.blank?  %>
	      <%= first_x_words(strip_tags(organization.description),30,'...') %>
	    	<% end %> </div>
		</div>
	<% end %>
	</div>

  <%= will_paginate(@organizations) %>
<% else %>
  <p>No organizations have been added.</p>
<% end %>

