
<p id="notice"><%= notice %></p>
<div id="sidebar">
	<div id="sidebar_content">
		<h3>Share this Agency</h3>
		<div class="social_menu">
		<ul>
			<li class="twitter"><%= link_to "Tweet this", ""%></li>
			<li class="facebook"><%= link_to "Share on Facebook", ""%></li>
			<li class="email"><%= link_to "Email a Friend", ""%></li>
		</ul>
		</div>
	</div>
</div>

<div id="content" class="clearfix">
	
	<% title @organization.name %>

	<div class="description">
	  <%= @organization.description %>
	</div>
	
	<h3>Contact Information </h3>
	<div class="contact_info">
	<%=raw address_block(@organization.address1, @organization.address2, @organization.city, @organization.state, @organization.postal_code) %>
	</div>

	<h3>Agency Details </h3>

	<div class="summary_box">
		<table cellspacing="0" cellpadding="0" border="0" class="summary_table">
			<tr>
				<td>
					
					<% unless @organization.government_level.blank? %>
						<p>
						  <label>Government level:</label>
						  <%= @organization.government_level %>
						</p>
					<% end %>
					
					<% unless @organization.governement_entity_name.blank? %>
						<p>
						  <label>Governement entity name:</label>
						  <%= @organization.governement_entity_name %>
						</p>
					<% end %>

					<% unless @organization.agency_head.blank? %>
						<p>
						  <label>Agency head:</label>
						  <%= @organization.agency_head %>
						</p>
					<% end %>

					<% unless @organization.sunshine_contact.blank? %>
						<p>
						  <label>Sunshine contact:</label>
						  <%= @organization.sunshine_contact %>
						</p>
					<% end %>

					<% unless @organization.sunshine_title.blank? %>
						<p>
						  <label>Sunshine title:</label>
						  <%= @organization.sunshine_title %>
						</p>
					<% end %>



				</td>
				<td>
					

					<% unless @organization.government_level.blank? %>
						<p>
						  <label>Sunshine phone:</label>
						  <%= @organization.sunshine_phone %>
						</p>
					<% end %>

					<% unless @organization.government_level.blank? %>
						<p>
						  <label>Sunshine email:</label>
						  <%= @organization.sunshine_email %>
						</p>
					<% end %>

					<% unless @organization.government_level.blank? %>
						<p>
						  <label>Website:</label>
						  <%= @organization.website %>
						</p>
					<% end %>



				</td>
			</tr>
		</table>
		</div>
		
		<h3>Data Sets</h3>
		<% unless @organization.data_sets.blank? %>
			<div id="data_sets">
			<% @organization.data_sets.each do |data_set| %>
				<div class="data_set">
					<h3><%= link_to data_set.name, data_set %></h3>
					<p><% unless data_set.description.blank?  %>
			      <%= first_x_words(strip_tags(data_set.description),30,'...') %>
			    	<% end %> </p>

				</div>
			<% end %>
		  <%#= will_paginate(@organization.data_sets) %>
		<% else %>
		  <p>This organization does not have any data sets</p>
		<% end %>

	</div>
	
	

	<% if current_user.admin? %>
	<%= link_to 'Edit', edit_organization_path(@organization) %>
	<% end %>

<div>



